<div class="container py-5">
  <%= render "login_form" %>

  <div class="text-center mt-3">
    <small class="text-muted">
      Pas encore de compte ?
      <%= link_to "Créer un compte", register_path, class: "text-decoration-none text-primary fw-semibold" %>
    </small>
  </div>
</div>
