<div class="container py-5">
  <h2 class="fw-bold text-center mb-5">❤️ Vos citations favorites</h2>

  <% if @favorites.empty? %>
    <p class="text-center text-muted">Vous n'avez encore ajouté aucune citation à vos favoris.</p>
  <% else %>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4">
      <%= render partial: "quotes_web/quote_card", collection: @favorites, as: :quote %>
    </div>
  <% end %>
</div>
