<div class="container py-5">
  <h2 class="fw-bold mb-4 text-center">Résultats pour "<%= params[:q] %>"</h2>

  <% if @quotes.any? %>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <%= render partial: "quotes_web/quote_card", collection: @quotes, as: :quote %>
    </div>
  <% else %>
    <p class="text-center text-muted">Aucun résultat trouvé.</p>
  <% end %>
</div>
